*{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; box-sizing: border-box;}
input:focus,button:focus{outline:0}
body{
    font-family: 'Poppins', sans-serif;

}
h2{
    font-size:23px;
    padding: 10px 21px;
    color:#fff;
    background-color: #261bb9;
}
#chat-wrap{
    max-width: 650px;
    margin: 28px auto;
    border: 1px solid #74b310a9;
    border-radius: 5px;
}
#chat-window{
    height: 400px;
    overflow-y: scroll;
    padding: 10px 21px;
}
#output p{
    font-size: 15px;
    padding:12px;

}
#output p:nth-child(even){
    background-color: #f2f2f2;
    border-radius: 5px;

}
#output p:nth-child(odd){
    background-color: #8885ad;
    color:#fff;
    border-radius: 5px;
}
#feedback p{
    color: #3a366e;
    font-size: 13px;
    padding: 10px 21px;
}
#output strong{
    color: #3a366e;
}
input{
    font-family: 'Poppins', sans-serif;
    padding: 10px 21px;
    border: 1px solid #ccc;
    border-top:1px solid #8885ad;
    display: block;
    width: 100%;
    font-size: 15px;
}
button{
    font-family: 'Poppins', sans-serif;
    padding: 10px 21px;
    border: 1px solid #ccc;
    border-top:1px solid #8885ad;
    display: block;
    width: 100%;
    font-size: 15px;
    background-color: #6a960b;
    color:#fff;
    cursor: pointer;
}


